* /* utilisé pour sélectionner tous les éléments d'un fichier HTML */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth; /*Le défilement est doux et utilise une fonction de minutage définie*/
    font-family: 'Poppins', sans-serif;
   
}

:root /*utile lorsqu'on déclare des propriétés CSS personnalisées globales*/

{
 
    
    /* --bg-color: rgb(47, 47, 78);
    --second-bg-color: grey;
    --text-color: white;
    --main-color: 	#3f7b79; */

    --bg-color:#1e5397;
    --second-bg-color: #0A6AEC;
    --text-color: rgb(255, 255, 255);
    --main-color: 	#F5C00C;

    /* --bg-color:#00e1ff;
    --second-bg-color: #0A6AEC;
    --text-color: rgb(0, 0, 0);
    --main-color: 	#0e0ecb; */
}

html {
    font-size: 65%;
    overflow-x: hidden; /*Le contenu est rogné afin de tenir horizontalement dans la boîte de remplissage*/
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

section
{
    min-height: 100vh ;
    padding: 10rem 9% 2rem;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky
{
    border-bottom: 1.rem solid rgba(0, 0, 0);
}

.logo
{
    font-size: 2.5rem ;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.logoimg 
{
    
    width: 69px;

}

.navbar a 
{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active
{

    color: var(--main-color);
   
}

#menu-icon
{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

h1{
    font-size: 50px;
    margin-top: 16rem;
    text-align: center;
    background: #ffffff;
    color: black;
    height: 18rem;
    padding: 61px;
}

.product-details {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}



.product-details {
    background-color: #fff;
   
    border-radius: 8px;
    box-shadow: 16px 13px 35px rgb(210, 188, 78);
    margin-top: 7rem;
    margin: 9rem auto;
  text-align: center;
  width: 37rem;
}

.product-details h2 {
    color: #333; /* Couleur du titre du produit */
    font-size: 24px; /* Taille de la police du titre du produit */
    margin-bottom: 10px;
}

.product-details p {
    color: #666; /* Couleur du texte des détails du produit */
    font-size: 16px; /* Taille de la police des détails du produit */
    margin: 5px 0;
}

.product-details img {
    max-width: 112px;
}


.footer

{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 8%;
    background: var(--second-bg-color);
    margin-top: 34rem;
}

.footer-text p
{
    font-size: 1.6rem;


}


@media (max-width: 150px)
{
    .product-details{
        width: 92%;
    }

    h1
    {
        font-size: 25px;
        margin-top:16rem;
        text-align: center;
        height:12rem;
        padding:28px;
    }

    .product-details img {
        max-width: 86px;
    }

    .product-details h2 {
        font-size: 21px;
        margin-bottom: 23px;
    }

    .product-details p {
        font-size: 10px;
        margin: 5px 0;
    }
    

}

@media (max-width:382px) {
    h1{
        font-size: 27px;
        margin-top: 16rem;
        text-align: center;
        background: #ffffff;
        color: black;
        height: 16rem;
        padding: 61px 0 0 0;
    }
}


@media (max-width:180px){

    .navbar a {
        font-size: 13px;
        color: var(--text-color);
        margin-left: 1rem;
        transition: .3s;
    }
}








