*

/* utilisé pour sélectionner tous les éléments d'un fichier HTML */
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    /*Le défilement est doux et utilise une fonction de minutage définie*/
    font-family: 'Poppins', sans-serif;

}

:root
/*utile lorsqu'on déclare des propriétés CSS personnalisées globales*/

    {


    /* --bg-color: rgb(47, 47, 78);
    --second-bg-color: grey;
    --text-color: white;
    --main-color: 	#3f7b79; */

    --bg-color: #1e5397;
    --second-bg-color: #0A6AEC;
    --text-color: rgb(255, 255, 255);
    --main-color: #F5C00C;

    /* --bg-color:#00e1ff;
    --second-bg-color: #0A6AEC;
    --text-color: rgb(0, 0, 0);
    --main-color: 	#0e0ecb; */
}

html {
    font-size: 65%;
    overflow-x: hidden;
    /*Le contenu est rogné afin de tenir horizontalement dans la boîte de remplissage*/
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 16rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: 1.rem solid rgba(0, 0, 0);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.logoimg {

    width: 69px;

}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {

    color: var(--main-color);

}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

h1 {
    font-size: 45px;
    margin-top: 16rem;
    text-align: center;
    background: #ffffff;
    color: black;
    height: 18rem;
    padding: 61px 0 0 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-top: 46px;
}

.card-template {

    background-color: #fff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 30rem;
    margin: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 19px 10px #8fa4a4;
    margin-bottom: 3%;
}


.product-image {
    max-width: 47%;
    /* height: auto; */
}

.product-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: black;
}

.view-details {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.view-details:hover {
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
}

.view-details:active {
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8);
    transform: translateY(1px);
}

.hidden {
    display: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 8%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;


}

@media (max-width:230px) {
    .navbar a {
        font-size: 12px;
        margin-left: 3px;
    }

}

@media (max-width:319px) {
    h1 {
        font-size: 27px;
        margin-top: 16rem;
        text-align: center;
        background: #ffffff;
        color: black;
        height: 16rem;
        padding: 61px 0 0 0;
    }

    .footer {
        padding: 5rem 8%;
        margin-top: 91px;
    }
}