* /* utilisé pour sélectionner tous les éléments d'un fichier HTML */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth; /*Le défilement est doux et utilise une fonction de minutage définie*/
    font-family: 'Poppins', sans-serif;
   
}

:root /*utile lorsqu'on déclare des propriétés CSS personnalisées globales*/

{
 
    
    /* --bg-color: rgb(47, 47, 78);
    --second-bg-color: grey;
    --text-color: white;
    --main-color: 	#3f7b79; */

    --bg-color:#1e5397;
    --second-bg-color: #0A6AEC;
    --text-color: rgb(255, 255, 255);
    --main-color: 	#F5C00C;

    /* --bg-color:#00e1ff;
    --second-bg-color: #0A6AEC;
    --text-color: rgb(0, 0, 0);
    --main-color: 	#0e0ecb; */
}

html {
    font-size: 65%;
    overflow-x: hidden; /*Le contenu est rogné afin de tenir horizontalement dans la boîte de remplissage*/
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

section
{
    min-height: 80vh ;
    padding: 10rem 9% 2rem;
 
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky
{
    border-bottom: 1.rem solid rgba(0, 0, 0);
}

.logo
{
    font-size: 2.5rem ;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.logoimg 
{
    
    width: 69px;

}

.navbar a 
{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active
{

    color: var(--main-color);
   
}



.title-page-content {
    font-size: 2rem;
    justify-content: center;
    margin-top: 18rem;
    display: flex;
    padding: 5rem;
    background-color: #0a6aec;
    color: white;
}

.typeapple, .typeother
{
    padding: 29px;
    background: #ffffff;
    width: 63rem;
    text-align: center;
    border: #ffffff solid 2px;
    border-radius: 27px;
    margin: 0 auto;

   
}

.typeapple
{
    display: grid;
    display: grid;
    margin-bottom: 5rem;
}

.bxl-apple
{
 color: black;
 font-size: 11rem;

}

.btn
{
    font-size: 2rem;
    color: white;
    border-radius: 23px;
    padding: 7px 44px 9px 44px;
    margin-top: 5px;
    background: linear-gradient(45deg, #1E88E5, #7986CB);
}

.btncontact
{
    margin-top: 3%;
}

.imgbrands
{margin-bottom: 25px;
    width: 11%
}


.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p
{
    font-size: 1.6rem;


}

.footer-iconTop a 
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    transition: .5s ease;

}

.footer-iconTop a:hover
{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i 
{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


@media (max-width: 768px){
    
    #menu-icon{
        display: block;
    }
/* 
    57.26 */
    
    .navbar {
   
        display: flex;
    }

    .navbar.active 
    {
        display: block;
    }

    .navbar a {
        display:block;
        font-size: 2rem;
        margin: 3rem 0;

    }
    .typeapple, .typeother{
        width: 100%;
    }
} 
/* 
@media (max-width: 150px){


    h1 {

        font-size: 27px;
    }
section
    {
        margin: 0;
        padding: 5rem 1rem 2rem;
        min-height: 0;
    }

    .typeapple, .typeother{
        width: 94%;
        padding: 0;
    }

    .bxl-apple{
        font-size: 6rem;
    }

    .btncontact
    {
        margin-top: 12%;
    }

    .btn{
        font-size: 14px;
        padding: 4px 14px 9px 15px;
    }

    .imgbrands {
        margin-bottom: 11px;
        width: 32%;
    }    
} */


@media (max-width: 350px){

    h1{
        font-size: 36px;
    }
    .title-page-content {
    font-size: 2rem;
    justify-content: center;
    margin-top: 15rem;
    display: flex;
    padding: 5rem 1rem 5rem 1rem;
    }
} 
@media (max-width: 300px){

    .imgbrands {
        margin-bottom: 25px;
        width: 23%;
    }

    .btn{
        padding: 7px;
    }

    .bxl-apple {
    font-size: 8rem;
    }

    .typeapple, .typeother {
        padding: 15px;
    }
}