RewriteEngine On

# Redirection vers HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Redirection de la racine vers votre page d'accueil
RewriteRule ^$ /index.html [L]
